.*
!.git
!.gitignore
*.pub
*.log

# --- Python Specifics ---
venv/

# --- Ansible Specifics ---
ansible/.vault
ansible/roles/**/files/secrets/
ansible/roles/**/vars/*.yml
ansible/roles/update-docker-app
ansible/roles/ct-from-template
ansible/roles/mount-points
# ansible/

# --- Terraform Specifics ---
# Local plugin directory (where terraform init downloads providers)
**/.terraform/*

# State files (Highly sensitive! Contains passwords in plain text)
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Plan files (Output from 'terraform plan -out=...')
# These also contain secrets in plain text!
*.tfplan

# --- Variable Files (The Secrets) ---
# Ignore all .tfvars files as they usually contain API tokens/passwords
*.tfvars
*.tfvars.json

# If you use specific naming for auto-loading variables
*.auto.tfvars
*.auto.tfvars.json

# Ignore local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# --- OS Specific ---
.DS_Store
Thumbs.db

## --- compose specific ignores ---

# smokeping
compose/smokeping/data
compose/smokeping/config/site-confs
compose/smokeping/config/Database
compose/smokeping/config/httpd.conf
compose/smokeping/config/Presentation
compose/smokeping/config/Slaves
compose/smokeping/config/smokeping_secrets
compose/smokeping/config/ssmtp.conf
