@media(min-width: 500px) {
    .services-list.flex.flex-col {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    
    .services-list.flex.flex-col .service {
        grid-column: span 2;
    }
    
    .services-list.flex.flex-col .service > div {
        height: 100%;
    }
    
    .services-list.flex.flex-col .service > .mb-2 {
        margin-bottom: 0 !important;
    }
    
    .services-list.flex.flex-col #col-small.service {
        grid-column: span 1;
    }
}